@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');


:root {

    /* font-size */
    --fs-sm: 16px;
    --fs-md: 20px;
    --fs-lg: 23px;
    --fs-xl: 39px;
    --fs-2xl: 47px;

}

.fs_16 {
    font-size: var(--fs-sm)
}

.fs_47 {
    font-size: var(--fs-2xl);
}

.fs_39 {
    font-size: var(--fs-xl);
}

.fs_23 {
    font-size: var(--fs-lg);
}

.fs_20 {
    font-size: var(--fs-md);
}

.ff_space_growtesk {
    font-family: 'space grotesk', sans-serif;
}





@media (max-width:992px) {}

@media (max-width:768px) {
    :root {

        --fs-sm: 16px;
        --fs-md: 18px;
        --fs-lg: 20px;
        --fs-xl: 35px;
        --fs-2xl: 40px;

    }

}

@media (max-width:576px) {

    :root {
        --fs-sm: 16px;
        --fs-md: 15px;
        --fs-lg: 18px;
        --fs-xl: 30px;
        --fs-2xl: 35px;
    }
}